/*Reset CSS - ele deixa todos os tamanhos das content com 200(base)*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*

box model
    margin
    padding
    boder
    content


    box-sizing
*/

.caixa{
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 20px;
    border: 2px solid aqua;

    margin-top: 30px;
    margin-bottom: 12px;
    margin-left: 200px;
    margin-right: 20px;
}